html, body, #map {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#left-panel {
    float: left;
    width: 300px;
    height: 100%;
    padding: 0px 10px;
}

#upload, #trackurl {
    width: 100%;
}

.track-item {
    white-space: nowrap;
    overflow-x: hidden;
}

.track-input {
    width: 100%;
    display: none;
}
